<div class="container">
    <div class="row" style="background-color: white; border-radius: 10px; padding: 50px">
        <div class="col-sm-12 col-md-10 col-md-offset-1">
            <table class="table table-hover" >
                <thead>
                <tr>
                    <th>Product</th>
                    <th class="text-center"></th>
                    <th class="text-center">Price</th>
                    <th class="text-center"></th>
                    <th> </th>
                </tr>
                </thead>
                <tbody >
                    <td ng-show="Checkout.shoppingCart.orderList.length === 0" class="text-center" class="col-sm-12" style="height: 100px">
                        <h3 class="text-center">Add items to your shopping cart!</h3>
                    </td>

                <tr ng-repeat="item in Checkout.shoppingCart.orderList track by $index" >

                    <td class="col-sm-8 col-md-6">
                        <div class="media">
                            <div class="thumbnail pull-left" href="#"> <img class="media-object" src="{{item.image}}" style="width: 72px; height: 72px;"> </div>
                            <div class="media-body">
                                <h4 class="media-heading"><a href="#">{{item.name}}</a></h4>
                                <h5 class="media-heading"> by <a href="#">{{item.resteurant}}</a></h5>
                            </div>
                        </div></td>
                    <td class="col-sm-1 col-md-1" style="text-align: center">
                    </td>
                    <td class="col-sm-2 col-md-2 text-center"><strong>${{item.price}}</strong></td>
                    <td class="col-sm-1 col-md-1 text-center"><strong></strong></td>
                    <td class="col-sm-1 col-md-1">
                        <button type="button" class="btn btn-danger" ng-click="Checkout.removeItem(item)">
                            <span class="glyphicon glyphicon-remove"></span> Remove
                        </button></td>
                </tr>

                <tr>
                    <td>   </td>
                    <td>   </td>
                    <td>   </td>
                    <td><h5>Subtotal</h5></td>
                    <td class="text-right"><h5><strong>$24.59</strong></h5></td>
                </tr>
                <tr>
                    <td>   </td>
                    <td>   </td>
                    <td>   </td>
                    <td><h5>Estimated shipping</h5></td>
                    <td class="text-right"><h5><strong>$6.94</strong></h5></td>
                </tr>
                <tr>
                    <td>   </td>
                    <td>   </td>
                    <td>   </td>
                    <td><h3>Total</h3></td>
                    <td class="text-right"><h3><strong>$31.53</strong></h3></td>
                </tr>
                <tr>
                    <td>   </td>
                    <td>   </td>
                    <td>   </td>
                    <td>
                        <a type="button" class="btn btn-default" ui-sref="app.main">
                            <span class="glyphicon glyphicon-shopping-cart"></span> Continue Shopping
                        </a>
                    </td>
                    <td>
                        <a type="button" ng-click="Checkout.checkout()" class="btn btn-success">
                            Checkout <span class="glyphicon glyphicon-play"></span>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
