p {
    margin-bottom: 20px;
}
p:last-child {
    margin-bottom: 0;
}
.fix {
    overflow: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 10px;
    margin-top: 0;
    font-family: 'Ubuntu', sans-serif;
}
html,
body {
    height: 100%;
    font-family: 'Ubuntu', sans-serif;
    color: #191919;
    font-size: 18px;
    line-height: 22px;
}
body {
    background-image: url("img/home_bg.jpg");
    background-size: 100% 100%;
    overflow-x: hidden;
}
.menu_body {
    background-image: -webkit-linear-gradient(left top, rgba(205, 57, 176, 0.90) 0%, rgba(253, 197, 80, 0.90) 50%);
    background-image: linear-gradient(to right bottom, rgba(205, 57, 176, 0.90) 0%, rgba(253, 197, 80, 0.90) 50%);
    bottom: 0;
    display: none;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 9999;
}
a {
    transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
}
a,
a:active,
a:focus,
a:active {
    text-decoration: none !important
}
a:focus {
    outline: 0px solid;
}
img {
    max-width: 100%;
    height: auto
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.mainmenu {
    margin-top: 15%;
}
.mainmenu li {
    padding-bottom: 25px;
}
.mainmenu ul li a {
    color: #fff;
    font-size: 36px;
}
.mainmenu ul#nav {
    margin-top: 10%;
}
.mainmenu ul li a:hover {
    border-bottom: 1px solid #fff;
    font-size: 60px;
}
.home_logo {
    margin-top: 15%;
}
.search.text-center {
    margin-top: 50px;
}
.search input[type="text"] {
  background: rgba(168, 43, 120, 0.88) none repeat scroll 0 0;
  border: medium none;
  border-radius: 0;
  box-shadow: none;
  color: #fff;
  font-size: 36px;
  font-weight: 300;
  height: 60px;
  padding: 0 12px;
}

.search input[type="submit"] {
    background: #ffd200 none repeat scroll 0 0;
    border: medium none;
    color: #fff;
    display: block;
    font-size: 36px;
    font-weight: 300;
    height: 60px;
    margin: 24px auto 0;
    padding: 0 20px;
	transition: .8s;
}
.search .input-group {
    margin: 0 auto;
    max-width: 540px;
}
.search .input-group span {
  background: #800f48 none repeat scroll 0 0;
  border: medium none;
  border-radius: 0;
  color: #fff;
  font-size: 25px;
  cursor: pointer;
  transition: .8s;
}
.search .input-group span:hover {
  background: #ce398b none repeat scroll 0 0;

}
.form-control::-webkit-input-placeholder {
    color: white;
}
.form-control:-moz-placeholder {
    color: white;
}
.form-control::-moz-placeholder {
    color: white;
}
.form-control:-ms-input-placeholder {
    color: white;
}
.order_area,
.work_area {
    background-color: #fff;
    height: 100%;
    padding-bottom: 55px;
    padding-top: 15px;
}
.logo {
    margin-top: 15px;
}
.order_item,
.work_item {
    margin-bottom: 50px;
    overflow: hidden;
}
.right_image > img {
    float: right;
}
.work_title h2 {
    padding-bottom: 15px;
}
.order_area .address {
    border-bottom: 1px solid lightgray;
    margin-bottom: 30px;
    padding-bottom: 20px;
}
.order_area hr {
    border-top: 1px solid lightgray;
    margin: 0 auto;
    width: 70%;
}
.pizza > p {
    margin: 0;
}
.way.text-center {
    margin-top: 10px;
}
.price.text-right {
    margin-top: 35px;
}
.total.text-right > p {
    font-weight: 700;
    margin-top: 25px;
}
.login_area {
    margin-top: 5%;
}
.login_body {
  background: rgba(0, 0, 0, 0) url("img/signinbkg.jpg") no-repeat scroll 0 0 / cover ;
}
.login {
  box-shadow: 0 0 20px #666;
}
.mk_tab_nav li {
    background: #fee9e4 none repeat scroll 0 0;
    border-bottom: 1px solid #ec008c;
    float: left;
    line-height: 50px;
    text-align: center;
    width: 50%;
}
.mk_tab_nav ul li a {
  color: #191919;
  display: block;
  font-size: 24px;
}
.mk_tab_nav ul li.active {
    background: #fff none repeat scroll 0 0;
    border-bottom: 3px solid #ec008c;
    line-height: 48px;
    font-weight: 700;
}
#login input[type="email"],
#login input[type="password"],
#signup input[type="text"],
#signup input[type="email"],
#signup input[type="password"] {
    background: #fde0e3 none repeat scroll 0 0;
    border: 2px solid #fff;
    color: #000;
    display: block;
    height: 40px;
    margin-bottom: 13px;
    padding-left: 15px;
    width: 100%;
}
.tab-content {
    background: #f6dada none repeat scroll 0 0;
    padding: 80px 10px 20px;
}
.name, .address {
    overflow: hidden;
}


#signup .last_name,
#signup .first_name,
#signup .city,
#signup .post_code {
    float: left;
    margin-right: 4%;
    width: 48%;
	position:relative;
}
#signup .last_name,
#signup .post_code {
	margin-right: 0;
}
#signup .last_name > span,
#signup .first_name > span,
#signup .city > span,
#signup .post_code > span
{
  color: red;
  position: absolute;
  right: 7px;
  top: 5px;
}
#signup .address input:last-child,
#signup .name input:last-child
{
    margin-right: 0;
}
#login input[type="submit"],
#signup input[type="submit"] {
    background: #fff none repeat scroll 0 0;
    border: medium none;
    color: #c90d0d;
    font-size: 24px;
    height: 40px;
    padding: 0 22px;
	transition: .8s;
}
#login input[type="submit"]:hover,
#signup input[type="submit"]:hover {
    background: #AB3670 none repeat scroll 0 0;
	color: #fff;
    
}
.password,
.email,
.username,
.housenumber{
    position: relative;
}
.password > span,
.email > span,
.username > span,
.housenumber > span{
    color: red;
    position: absolute;
    right: 7px;
    top: 5px;
    z-index: 999;
}

.checkout_btn input[type="submit"] {
    background: #ffd200 none repeat scroll 0 0;
    border: medium none;
    color: #fff;
    display: block;
    /*padding: 15px;*/
    margin: 6px auto 0;
    padding: 20px;
    transition: .8s;
    width: auto;
}


.checkout_btn input[type="submit"]:hover {
    background: #e8bf02 none repeat scroll 0 0;
    cursor:pointer;
}

/*================ Menu Bar =================*/
header.header_area {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99999;
}
.menu_show{
	display: block;
}
.work_bg, .login_area, .order_bg {
  padding-top: 90px;
}
.x {
  margin-top: 16px;
}



*,
*:before,
*:after {
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}
.x input {
  display: none;
}

.x label {
  cursor: pointer;
  display: block;
  height: 3.5rem;
  position: relative;
  width: 5rem;
}
.x label span {
  position: relative;
  top: 1.5rem;
}
.x label span, .x label span:before, .x label span:after {
  display: block;
  background: #76073E;
  width: 30px;
  height: 3px;
  border-radius: 2px;
}
.x label span:before, .x label span:after {
  content: '';
  position: absolute;
}
.x label span:before {
  bottom: 8px;
}
.x label span:after {
  top: 8px;
}

.x :checked ~ label span {
  width: 0;
}
.x :checked ~ label span:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  bottom: 0;
}
.x :checked ~ label span:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 0;
}
@-webkit-keyframes x1Before {
  50% {
    bottom: 0;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    bottom: 0;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}
@keyframes x1Before {
  50% {
    bottom: 0;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    bottom: 0;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}
@-webkit-keyframes x1After {
  50% {
    top: 0;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    top: 0;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
}
@keyframes x1After {
  50% {
    top: 0;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    top: 0;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
}