<style>

    .wrapper {
        margin-top: 80px;
        margin-bottom: 80px;
    }

    .form-signin {
        padding: 15px 35px 45px;
        margin: 0 auto;
        background-color: #fff;
        border: 1px solid rgba(0, 0, 0, 0.1);
    }
    .form-signin .form-signin-heading,
    .form-signin .checkbox {
        margin-bottom: 30px;
    }
    .form-signin .checkbox {
        font-weight: normal;
    }
    .form-signin .form-control {
        position: relative;
        font-size: 16px;
        height: auto;
        padding: 10px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    .form-signin .form-control:focus {
        z-index: 2;
    }
    .form-signin input[type="text"] {
        margin-bottom: -1px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
    .form-signin input[type="password"] {
        margin-bottom: 20px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

     .form-signin .btn {
        width: 220px;
    }

</style>

<div class="row">

    <div class="col-sm-6">
        <div class="wrapper">

            <form class="form-signin">
                <h2 class="form-signin-heading">Login</h2>
                <div class="row">
                    <div class="col-sm-6">
                        <a class="btn btn-primary btn-lg" type="button" ng-click="RegisterLogin.OnloginSelection()" ui-sref="app.register-login.user-login">User</a>
                    </div>
                    <div class="col-sm-6">
                        <a class="btn btn-primary btn-lg" type="button" ng-click="RegisterLogin.OnloginSelection()" ui-sref="app.register-login.restaurant-login"  >Restaurant</a>
                    </div>
                </div>
            </form>

            <!--Show Custom Login-->
            <div ui-view></div>


        </div>


    </div>
    <div class="col-sm-6">
        <div class="wrapper">
            <form class="form-signin">
                <h2 class="form-signin-heading">Register</h2>
                <input type="text" class="form-control" name="username" placeholder="Name" required="" autofocus="" />
                <input type="password" class="form-control" name="password" placeholder="Password" required=""/>
                <input type="text" class="form-control" name="email" placeholder="Email Address" required="" autofocus="" />
                <input type="password" class="form-control" name="phone" placeholder="Phone" required=""/>

                <input type="text" class="form-control" name="city" placeholder="City" required="" autofocus="" />
                <input type="text" class="form-control" name="housenr" placeholder="housenr" required="" autofocus="" />
                <input type="text" class="form-control" name="street" placeholder="Street" required="" autofocus="" />
                <input type="text" class="form-control" name="postcode" placeholder="Postcode" required="" autofocus="" />
                <br>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
            </form>
        </div>
    </div>
</div>





<!--LOGIN-->
<script type="text/ng-template" id="user-login.tpl.html" >
    <form class="form-signin">
        <h2 class="form-signin-heading">Login User</h2>
        <input type="text" class="form-control" name="username" placeholder="Email Address" ng-model="username" required="" autofocus="" />
        <input type="password" class="form-control" name="password" placeholder="Password" ng-model="password" required=""/>

        <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="RegisterLogin.loginUser(username, password)">Login</button>
    </form>
</script>


<script type="text/ng-template" id="restaurant-login.tpl.html" >
    <form class="form-signin">
        <h2 class="form-signin-heading">Login Restaurant</h2>
        <input type="text" class="form-control" name="username" placeholder="Email Address" required="" autofocus="" />
        <input type="password" class="form-control" name="password" placeholder="Password" required=""/>
        <label class="checkbox pull-right">
            <input type="checkbox" value="remember-me" id="rememberMe" name="rememberMe"> Remember me
        </label>
        <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="RegisterLogin.showAlert()">Login</button>
    </form>
</script>