<style>
    .new-comments{
        background-color: #00b3ee;
        color: white;
        border-radius: 6px;
        height:150px;
        box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
    }
    .new-orders{
        background-color: #5cb85c;
        color: white;
        border-radius: 6px;
        height:150px;
        box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
    }
    .add-menu{
        background-color: #d9534f;
        color: white;
        border-radius: 6px;
        height:150px;
        box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
    }
    .inner
    {
        padding:10px;
    }
    .glyphicon.glyphicon-comment,
    .glyphicon.glyphicon-th-list,
    .glyphicon.glyphicon-plus{
        font-size: 75px;
    }
    .header-res
    {
        padding-top: 7%;
        height:200px;
        color: white;

    }
</style>

<div style="text-align: center;" class="row header-res">
    <h3> Dashboard overview</h3>
</div>
<div class="row top_panel">
    <div class="col-sm-4">
        <a ui-sref="app.dashboard.comments">
            <div class="inner new-comments">
                    <span class="glyphicon glyphicon-comment"></span>
               <div class="col-sm-8">
                   <h2>{{3}}</h2>
                   <h3>New comments!</h3>
               </div>
            </div>
        </a>
    </div>
    <div class="col-sm-4">
        <a ui-sref="app.dashboard.orders">
            <div class="inner new-orders">
                <span class="glyphicon glyphicon-th-list"></span>
                <div class="col-sm-8">
                    <h2>{{6}}</h2>
                    <h3>New Orders!</h3>
                </div>
            </div>
        </a>
    </div>
    <div ng-click="Dashboard.showModal()" class="col-sm-4">
        <div class="inner add-menu">
            <span class="glyphicon glyphicon-plus"></span>
            <div class="col-sm-8">
                <h2>Add</h2>
                <h3>new menu</h3>
            </div>
        </div>
    </div>
</div>


<!--Add menu modal-->
<script type="text/ng-template" id="addModalContent.html" ng-controller="AddMenuModalController">
    <div class="modal-header">
        <h3 class="modal-title">Add Restaurant Menu</h3>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" class="form-control" id="name" ng-model="modal.name">
            <label for="price">Price:</label>
            <input type="number" class="form-control" id="price" ng-model="modal.price">
            <label for="bidPrice">Bid Price:</label>
            <input type="number" class="form-control" id="bidPrice" ng-model="modal.bidPrice">
            <label for="image">Image Url:</label>
            <input type="number" class="form-control" id="image" ng-model="modal.image">
        </div>

    </div>
    <div class="modal-footer">
        <button class="btn btn-warning" type="button" ng-click="modal.cancel()">Cancel</button>
        <button class="btn btn-primary" type="button" ng-click="modal.ok()">Add Item</button>
    </div>
</script>